body {
    margin: 0;
    font-family: 'Satoshi', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    transition: transform 1.0s ease;
}

.keyboard-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-gap: 5px;
    padding: 20px;
    background-color: #ddd;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    transition: transform 1.0s ease;
}

.keyboard-container.move-to-bottom {
    transform: translateY(100%)
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    height: 50px;
    box-shadow: inset 0px -3px 0px #bbb;
    border: 1px solid #ccc;
}

.key.special {
    background-color: #e5e5e5;
    color: #333;
}

.key.spacebar {
    grid-column: span 9;
}

.key.backspace {
    grid-column: span 2;
}

.key.tab {
    grid-column: span 2;
}

.key.capslock {
    grid-column: span 2;
}

.key.enter-top {
    grid-column: span 1;
    grid-row: span 1;
}

.key.enter-bottom {
    grid-column: span 2;
    grid-row: span 1;
}

.key.shift {
    grid-column: span 2;
}

.key.right-shift {
    grid-column: span 3;
}

.key.ctrl, .key.alt {
    grid-column: span 2;
}

.key:active {
    background-color: #d0d0d0;
    box-shadow: inset 0px 3px 0px #aaa;
}

.key.spacebar {
    grid-column: 5 / span 9;
}

.key.special.alt:last-child {
    grid-column: span 2;
}

.key.active {
    background-color: #90ee90;
    box-shadow: inset 0px 3px 0px #6fb86f;
}

.wpm-test {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Satoshi', sans-serif;
    font-size: 24px;
    color: #333;
}

.hidden {
    display: none;
}

.word-display {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 36px;
    letter-spacing: 2px;
    overflow: hidden;
    white-space: nowrap;
}

.letter {
    display: inline-block;
    width: 24px; 
    text-align: center;
}

.current-letter {
    color: #000;
    border-left: 2px solid #000;
}

.future-letter {
    color: #bbb;
}

.correct-letter {
    color: green;
}

.incorrect-letter {
    color: red;
}

.word-input {
    visibility: hidden;
}

.wpm-display {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
